/************************************************ GLOBAL SELECTORS *************************************************/
* {
  margin: 0;
}
/************************************************ TAG SELECTORS *****************************************************/

body {
  font-family: "Merriweather", serif;
  color: #362222;
  text-align: center;
}

h3,
a {
  font-family: "Raleway", sans-serif;
  color: #8f6262;
  font-size: 1.25rem;
}

h3 {
  padding-bottom: 20px;
}

h2 {
  font-size: 2.5rem;
  font-family: "Raleway", sans-serif;
  color: #8f6262;
  margin-bottom: 30px;
}

h1 {
  margin: 100px auto 0 auto;
  font-family: "WindSong", cursive;
  font-size: 5.625rem;
  color: #362222;
}

hr {
  width: 90px;
  height: 0;
  margin: 100px auto 100px auto;

  border: 0;
  border-top: 8px dotted #8f626280;

}

/************************************************ CLASS SELECTORS *****************************************************/

.top-container {
  background-color: #a7bbc7;
  padding-top: 100px;
  position: relative;
}

.middle-container {
}

.bottom-container {
  background-color: #a7bbc7;
  padding-top: 50px;
  padding-bottom: 50px;
 }

.profile-image {
  width: 200px;
  height: 200px;
  margin: 60px auto 60px auto;
}




.skill-database {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-gaming {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-row {
  width: 50%;
  margin: 10% auto 10% auto;
  text-align: left;
  line-height: 2;
}

.pro {
  text-decoration: underline;
}

.title {
  font-weight: normal;
}

.top-cloud {
  position: absolute;
  right: 30%;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 30%;
  bottom: 300px;
}

.get-in-touch {
  padding: 15px;
  width: 30%;
  
  margin: auto;
}

.intro {
  margin: auto;
  width: 30%;
}

.bottom-container-left {
  text-align: left;
  font-size: medium;
  display: inline-block;
}

.bottom-container-right {
  display: inline-block;
  font-size: 0.75rem;
  position: absolute;
  right: 0.5%;
  top: -15px;
}

.footer-link 
{
  margin-left: 30px;
  margin-right: 30px;
}

.copyright {
  padding-top: 30px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.small-font {
  font-size: 0.75rem;
}

.links-attributions {
  position: relative;
}


.btn {
  border-radius: 5px;
  color: #A7BBC7;
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-weight: 200;
  padding: 15px;
  background-color: #8F6262;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background: #362222;
  border-radius: 0;
  text-decoration: none;
  border-radius: 5px;
}
/************************************************ TAG-CLASS SELECTORS *****************************************************/
